# OS Artifacts
*.DS_Store

# Vagrant Artifacts
.vagrant/*

# NPM Artifacts
node_modules/*
npm-debug.log

# Docco artifacts
docs/*

# IDE Artifacts
.idea/*
*.iml
*.sublime-*

# Jekyll artifacts
_site/*

# Gem
Gemfile.lock
